/.venv
/.vscode
Segundo desafío/songs_dataset.zip
Segundo desafío/songs_dataset/adele.txt
Segundo desafío/songs_dataset/al-green.txt
Segundo desafío/songs_dataset/alicia-keys.txt
Segundo desafío/songs_dataset/amy-winehouse.txt
Segundo desafío/songs_dataset/beatles.txt
Segundo desafío/songs_dataset/bieber.txt
Segundo desafío/songs_dataset/bjork.txt
Segundo desafío/songs_dataset/blink-182.txt
Segundo desafío/songs_dataset/bob-dylan.txt
Segundo desafío/songs_dataset/bob-marley.txt
Segundo desafío/songs_dataset/britney-spears.txt
Segundo desafío/songs_dataset/bruce-springsteen.txt
Segundo desafío/songs_dataset/bruno-mars.txt
Segundo desafío/songs_dataset/cake.txt
Segundo desafío/songs_dataset/dickinson.txt
Segundo desafío/songs_dataset/disney.txt
Segundo desafío/songs_dataset/dj-khaled.txt
Segundo desafío/songs_dataset/dolly-parton.txt
Segundo desafío/songs_dataset/dr-seuss.txt
Segundo desafío/songs_dataset/drake.txt
Segundo desafío/songs_dataset/eminem.txt
Segundo desafío/songs_dataset/janisjoplin.txt
Segundo desafío/songs_dataset/jimi-hendrix.txt
Segundo desafío/songs_dataset/johnny-cash.txt
Segundo desafío/songs_dataset/joni-mitchell.txt
Segundo desafío/songs_dataset/Kanye_West.txt
Segundo desafío/songs_dataset/kanye-west.txt
Segundo desafío/songs_dataset/kanye.txt
Segundo desafío/songs_dataset/lady-gaga.txt
Segundo desafío/songs_dataset/leonard-cohen.txt
Segundo desafío/songs_dataset/Lil_Wayne.txt
Segundo desafío/songs_dataset/lil-wayne.txt
Segundo desafío/songs_dataset/lin-manuel-miranda.txt
Segundo desafío/songs_dataset/lorde.txt
Segundo desafío/songs_dataset/ludacris.txt
Segundo desafío/songs_dataset/michael-jackson.txt
Segundo desafío/songs_dataset/missy-elliott.txt
Segundo desafío/songs_dataset/nickelback.txt
Segundo desafío/songs_dataset/nicki-minaj.txt
Segundo desafío/songs_dataset/nirvana.txt
Segundo desafío/songs_dataset/notorious_big.txt
Segundo desafío/songs_dataset/notorious-big.txt
Segundo desafío/songs_dataset/nursery_rhymes.txt
Segundo desafío/songs_dataset/patti-smith.txt
Segundo desafío/songs_dataset/paul-simon.txt
Segundo desafío/songs_dataset/prince.txt
Segundo desafío/songs_dataset/r-kelly.txt
Segundo desafío/songs_dataset/radiohead.txt
Segundo desafío/songs_dataset/rihanna.txt
Segundo desafío/labels.tsv
Segundo desafío/vectors.tsv
Segundo desafío/spa-sparvg.txt
Segundo desafío/trained_models.p
